body {
    background-repeat: no-repeat;
    background-size: cover;
}


#background {
    position: relative;
    margin-top: 0px;
}

#weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.day-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}